<h1>My Wallet</h1>
<%= @wallet.balance %>

<% @deals.each do |deal| %>
  <div>
	  <%= deal.ownerid %>
  </div>
  <div>
    <%= deal.receiverid %>
  </div>
  <div>
    <%= deal.amount %>
  </div>
  <div>
    <%= deal.note %>
  </div>
<% end %>
