<h1>My Wallet</h1>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/wallet.png" alt="Wallet img">
  <div class="card-body">
    <h5 class="card-title">Balance:<strong><%= @wallet.balance %></strong></h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Payment</th>
          <th scope="col">Receive</th>
        </tr>
      </thead>
      <tbody>
        <% @deals.each do |deal| %>
          <tr>
            <% if deal.ownerid == @wallet.id %>
              <td><%= deal.amount %></td>
              <td></td>
            <% else %>
              <td></td>
              <td><%= deal.amount %></td>
            <% end %>
          </tr>
        <% end %>  
      </tbody>
    </table>
    <button class="btn btn-primary" data-toggle="modal"  data-target="#transaction">Transaction<i class="fas fa-dollar-sign ml-1"></i></button>
  </div>
</div>

<div class="modal fade" id="transaction" tabindex="0" role="dialog" aria-labelledby="forTransaction" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forTransaction">Transaction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
         </button>
      </div>
      <div class="modal-body">
        <%= form_for @new_deal, url: transaction_api_v1_wallet_path(@wallet.id), method: 'POST' do |f|%>
          <div class="form-group">        
            <%= f.label :receiverid, 'Receiver' %>
            <%= f.select(:receiverid, options_from_collection_for_select(Wallet.where.not(id: @wallet.id), :id, :id), disabled: @wallet.id) %>
          </div>
          <div class="form-group">
            <%= f.label :amount %>
            <%= f.number_field :amount, class: 'form-control', min: 0 %>
          </div>
          <div class="form-group">
            <%= f.label :note %>
            <%= f.text_field :note, class: 'form-control' %>
          </div>
          <%= f.submit "Confirm", class: "badge-pill p-2 path-color" %>
        <% end %>
      </div>
    </div>
  </div>
 </div>

<script>
  $('#modal').modal('toggle')
</script>
